:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; /*10px*/
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.gird{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
     display:flex;
}
.gird__full-width{
    width: 100%;
}

.gird__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* test */
.gird__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
    /*display:flex;*/
}

.grid__col-2-4{
    display: inline-block;
    padding-left: 39px;
    padding-right: 5px;
    width: 24%;
    cursor: pointer;
}

.gird__col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding:0 10px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-content: center;
    line-height: 32px;
    background-color: var(--white-color);
}

.btn.btn-nomal:hover{
    background-color:  rgba(0,0,0,0.1);
}

.btn.btn--primary{
    background-color: rgb(221, 121, 38);
}

 /* .btn.btn--disabel{
    cursor: default;
    background-color: #999;
    color:#ccc;
}  */

.btn.btn--size-s{
    height: 30px;
    font-size: 1.2rem;
    padding: 0 30px;
}


/* select */
.select__input{
    padding:0 10px;
    height: 34px;
    border-radius: 2px;
    min-width: 200px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
     z-index: 1; 
}

.select__input:hover .select-input__list{
    display: block;
}

.select__input-label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top:1;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top:21px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding:8px 16px;
    list-style: none;
    display: none;
}

.select-input__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: green;
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
